AI_DATABASE_PATH=../data/ai.sqlite
IMAGE_STORAGE_DIR=../data/spam-images
MAX_IMAGE_SIZE_MB=8
SPAM_AUTO_DELETE_THRESHOLD=0.97
SPAM_REVIEW_THRESHOLD=0.90
PHASH_MAX_DISTANCE=10
DINOV2_MODEL_NAME=facebook/dinov2-small
AI_WORKER_CONCURRENCY=1
AI_SERVICE_PORT=8000
